<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span6">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
    <br><br>  
    <% if @user.albums.any? %>
      <h3>Albums</h3>
      <%= page_entries_info @albums %>
      <ol class="albums">
        <%= render @albums %>
      </ol>
      <%= will_paginate @albums %>
    <% end %>
    </section>  
  </aside>
  <div class="span6">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
You are accessing from: <%= request.ip %>
