<%= form_for Album.new(params[:album]), :html => { :multipart => true } do |g| %>
  <%= render 'shared/error_messages', object: g.object %>
  <div class="field">
    <%= g.text_field :album_title, placeholder: "Enter an album title..." %>
    <%= g.file_field :photo %>
  </div>
  <%= g.submit "Upload", class: "btn btn-large btn-primary" %>
  <span class="remainingCharForAlbum"></span>
<% end %>